{% extends 'layouts/base.html' %}

{% block title %} Wallet {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block mainmenu %}
<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="/">
								<img src="/static/assets/images/loggo.png" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
                 <ul class="navbar-nav ml-auto">
                 								    <li class="nav-item">
										<a class="nav-link " href="/">Home
										<div class="mr-hover-effect"></div></a>
									</li>

									<li class="nav-item">
									{% if user.is_authenticated %}
										<a class="nav-link" href="{% url 'daru_wheel:spin' %}">Spin
												<div class="mr-hover-effect"></div></a>
									{% endif %}
									{% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Spin
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}   
																					
									</li>	
									 <li class="nav-item dropdown">
									 {% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Account
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %} 
									{% if  user.is_authenticated %}
										<a class="nav-link active dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Account
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="#"> <i class="fa fa-angle-double-right"></i>Wallet</a></li>
											<li><a class="dropdown-item" href="{% url 'account:withraw' %}"> <i class="fa fa-angle-double-right"></i>Withdraw</a></li>
											<li><a class="dropdown-item" href="{% url 'account:deposit' %}"> <i class="fa fa-angle-double-right"></i>Deposit</a></li>
								
										</ul>	
									{% endif %} 

									</li>

									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Pages
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="/about"> <i class="fa fa-angle-double-right"></i>About</a></li>
											<li><a class="dropdown-item" href="/affiliate"> <i class="fa fa-angle-double-right"></i>Affiliate</a></li>
											<li><a class="dropdown-item" href="/awards"> <i class="fa fa-angle-double-right"></i>Awards</a></li>
											<li><a class="dropdown-item" href="/how-it-work"> <i class="fa fa-angle-double-right"></i>How It Work</a></li>
											<li><a class="dropdown-item" href="/terms-conditions"> <i class="fa fa-angle-double-right"></i>Terms & Condition</a></li>

										</ul>
									</li> 
                  <li class="nav-item">
											<a class="nav-link" href="/contact">Contact
													<div class="mr-hover-effect"></div></a>
									</li>

								</ul>

							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
		
{% endblock mainmenu %}

{% block content %}

	<!-- Breadcrumb Area Start -->
	{% comment %} <section class="breadcrumb-area bc-affiliate">
		<img class="bc-img" src="assets/images/breadcrumb/affiliate.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						Wallet
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="index.html">
									<i class="fas fa-home"></i>
									Account
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="affiliate.html">Wallet</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section> {% endcomment %}
	<!-- Breadcrumb Area End -->

	<!-- Marketing Tools Area Start -->
	<section class="marketing-tools">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
								Account Information
						</h5>
						<h2 class="title">
								Wallet
						</h2>
						<p class="text">
						Balance is your tokens USD equivalent.Withrawable is amount you can withraw at the moment.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon one">
								<img src="assets/images/affiliate/ic7.png" alt="">
							</div>
							<div class="content">
								<h4 class="title">
										Tokens
								</h4>
								<p class="text">
										{{user.user_accounts.tokens}}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
								<h4 class="title">
								Balance(USD)
								</h4>
								<p class="text">
										{{user.user_accounts.balance}}
								</p>
							</div>
						</div>
					</div>

					
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon three">
								<img src="assets/images/affiliate/ic9.png" alt="">
							</div>
							<div class="content">
								<h4 class="title">
								Withrawable
								</h4>
								<p class="text">
								{{user.user_accounts.withrawable_balance}}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon three">
								<img src="assets/images/affiliate/ic10.png" alt="">
							</div>
							<div class="content">
								<h4 class="title">
								Withraw Power
								</h4>
								<p class="text">
								{{user.user_accounts.withraw_power}}
								</p>
							</div>
						</div>
					</div>
				<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
								<h4 class="title">
								Refer Balance
								</h4>
								<p class="text">
								{{user.user_accounts.refer_balance}}
								</p>
							</div>
						</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
								<h4 class="title">
								Trial Balance
								</h4>
								<p class="text">
								{{user.user_accounts.trial_balance}}
								</p>
							</div>
						</div>
				</div>
			</div>


					
		{% comment %} </div> {% endcomment %}

				<div class="row">
					<div class="col-lg-4">
						<div class="single-winer">
						<a href="/account/deposit">
            

							{% comment %} <div class="top-area"> {% endcomment %}
								<div class="left">
									<h4 class="name">
											Deposit 
									</h4>
									{% comment %} <p class="date">
											
									</p> {% endcomment %}
								</div>
								</a>
		
							{% comment %} </div> {% endcomment %}
                                 






							
              <div class="bottom-area">
								{% comment %} <div class="left">
										
								</div> {% endcomment %}
								{% comment %} <div class="right">
										<img src="/static/assets/images/icon2.png" alt="">
								</div> {% endcomment %}
							</div>
						</div>
					</div>


					<div class="col-lg-4">
						<div class="single-winer">
							{% comment %} <div class="top-area"> {% endcomment %}
							<a href="/account/withraw">
								<div class="center">
									<h4 class="name">
											Withraw
									</h4>
									{% comment %} <p class="date">
									{{user.user_accounts.withrawable_balance}}

									</p> {% endcomment %}
								</div>
								</a>



							{% comment %} </div> {% endcomment %}

							<div class="bottom-area">
		
							</div>

						</div>
					</div>


		{% comment %} </div> {% endcomment %}

		</div>
	</section>
	<!-- Marketing Tools Area End -->





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
