asgiref==3.3.1
attrs==20.3.0
autobahn==20.7.1
certifi==2020.11.8
channels==3.0.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.2.1
daphne==3.0.1
Django==3.1.14
django-admin-interface==0.16.3
idna==2.10
incremental==17.5.0
kombu==5.0.2
paypal-payouts-sdk==1.0.0
paypalhttp==1.0.0
pytz==2020.4
requests==2.25.0
sqlparse==0.4.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.26.2
zope.interface==5.2.0
