{% extends 'layouts/base.html' %}

{% block title %} Wallet {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block mainmenu %}
<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="/">
								<img src="/static/assets/images/logo.png" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
                 <ul class="navbar-nav ml-auto">
                 								    <li class="nav-item">
										<a class="nav-link" href="/">Home
										<div class="mr-hover-effect"></div></a>
									</li>

									<li class="nav-item">
									{% if user.is_authenticated %}
										<a class="nav-link" href="{% url 'daru_wheel:spin' %}">Spin
												<div class="mr-hover-effect"></div></a>
									{% endif %}
									{% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Play
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}   
																					
									</li>									
                  <li class="nav-item dropdown">
										<a class="nav-link active dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Account
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="{% url 'home:deposit_withraw' %}"> <i class="fa fa-angle-double-right"></i>Wallet</a></li>
											<li><a class="dropdown-item" href="/withdraw"> <i class="fa fa-angle-double-right"></i>Withdraw</a></li>
											<li><a class="dropdown-item" href="/deposit"> <i class="fa fa-angle-double-right"></i>Deposit</a></li>						
										</ul>
									</li>

									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Pages
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="/about"> <i class="fa fa-angle-double-right"></i>About</a></li>
											<li><a class="dropdown-item" href="/affiliate"> <i class="fa fa-angle-double-right"></i>Affiliate</a></li>
											<li><a class="dropdown-item" href="/awards"> <i class="fa fa-angle-double-right"></i>Awards</a></li>
											<li><a class="dropdown-item" href="/bonus"> <i class="fa fa-angle-double-right"></i>Bonus</a></li>
											<li><a class="dropdown-item" href="/how-it-work"> <i class="fa fa-angle-double-right"></i>How It Work</a></li>
											<li><a class="dropdown-item" href="/terms-conditions"> <i class="fa fa-angle-double-right"></i>Terms & Condition</a></li>
											<li><a class="dropdown-item" href="/terms-conditions-details"> <i class="fa fa-angle-double-right"></i>Condition Details</a></li>

										</ul>
									</li> 
                  <li class="nav-item">
											<a class="nav-link" href="contact.html">Contact
													<div class="mr-hover-effect"></div></a>
									</li>

								</ul>

							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
		
{% endblock mainmenu %}
{% block content %}
    <h3>You can withdraw a total of ${{ uf.amount }}</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="amount" max="{{ uf.amount }}">
        <button type="submit">Withdraw</button>
    </form>

 {% endblock content %}

