<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="forntEnd-Developer" content="Mamunur Rashid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>DariSpin|{% block title %}Home{% endblock %} 
  </title>

	<link href="{% static 'assets/images/faviconz.png' %}" rel="shortcut icon" sizes="32x32"  type="image/x-icon"/>
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/plugin.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

	<link rel="apple-touch-icon" href="{% static 'assets/images/faviconz.png' %}" />

{% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
	<!-- preloader area end -->


	<!-- Header Area Start  -->
<header class="header">
{% include 'includes/header.html' %}

{% block mainmenu %}
<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="/">
								<img src="/static/assets/images/logoz.png" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
                 <ul class="navbar-nav ml-auto">
                 								    <!-- <li class="nav-item">
										<a class="nav-link " href="/">Home
										<div class="mr-hover-effect"></div></a>
									</li> -->

									<li class="nav-item">
									{% if user.is_authenticated %}
										<a class="nav-link active" href="{% url 'daru_wheel:spin' %}">Spin
												<div class="mr-hover-effect"></div></a>
									{% endif %}
									{% if not user.is_authenticated %}
									   <a class="nav-link active" href="#" data-toggle="modal" data-target="#login">Spin
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}   
																					
									</li>	
									 <li class="nav-item dropdown">
									 {% comment %} {% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Account
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}  {% endcomment %}
									{% comment %} {% if  user.is_authenticated %} {% endcomment %}
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Account
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
										    {% comment %} <li>
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#deposit">
													<i class="fa fa-angle-double-right"></i> Deposit
												</a>																																		
											</li> {% endcomment %}
															
									

											<li>											
											
											{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#wallet">
													<i class="fa fa-angle-double-right"></i> Wallet : {{user.user_accounts.balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
											   <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">
											   <i class="fa fa-angle-double-right"></i> Wallet
											   </a>	
											{% endif %} 											
											
											
											</li>


											<li>

											{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#withraw">
													<i class="fa fa-angle-double-right"></i> Withdraw: {{user.user_accounts.withrawable_balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#withraw">
													<i class="fa fa-angle-double-right"></i> Withdraw
												</a>
											{% endif %} 																																		
											</li>											
											<li>
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#deposit">
													<i class="fa fa-angle-double-right"></i> Deposit
												</a>
																																		
											</li>
																						
								
										</ul>	
			
									</li>



									 <li class="nav-item dropdown">
									 {% comment %} {% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Account
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}  {% endcomment %}
									{% comment %} {% if  user.is_authenticated %} {% endcomment %}
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											My Company
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >


											<li>											
											
											{% if user.is_authenticated %}
												<a href="{% url 'users:mine_users' %}" class="dropdown-item" >
													<i class="fa fa-angle-double-right"></i> Users No : {{user.referees_no}}
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
											   <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">
											   <i class="fa fa-angle-double-right"></i> Users
											   </a>	
											{% endif %} 											
											
											
											</li>

											<li>
											{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#referc">
													<i class="fa fa-angle-double-right"></i> Ref.Com : {{user.user_accounts.refer_balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
											   <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">
											   <i class="fa fa-angle-double-right"></i> Ref.Com
											   </a>	
											{% endif %} 
																			
											</li>										
		
																						
								
										</ul>	
			
									</li>
					

								</ul>

							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
		
{% endblock mainmenu %}
</header>
<!-- Header Area End  -->

{% block content %}{% endblock content %}
{% include 'includes/footer.html' %}

{% include 'includes/scripts.html' %}

	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->
	<!-- Wallet Area Start -->
	<div class="modal fade login-modal" id="wallet" tabindex="-1" role="dialog" aria-labelledby="wallet" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					{% comment %} <div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div> {% endcomment %}
					{% comment %} <div class="header-area">
						<h4 class="title">Wallet</h4>
						<p class="sub-title">Account Information</p>
					</div> {% endcomment %}
					<div class="form-area">





	<!-- Marketing Tools Area Start -->
	<section class="marketing-tools">
		<div class="container">
		    <div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
								{% comment %} <div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div> {% endcomment %}
						<h5 class="subtitle">
								Account Information
						</h5>
						<h2 class="title">
								Wallet
						</h2>
			
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon one">
								<img src="assets/images/affiliate/ic7.png" alt="">
							</div>
							<div class="content">
								<h4 >
										Tokens
								</h4>
								<p class="text">
										{{user.user_accounts.balance}} T
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
								<h4 >
								Bal
								</h4>
								<p class="text">
										{{user.user_accounts.balance_usd}} $
								</p>
							</div>
						</div>
					</div>


				<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="static/assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
							<h4 >
								Ref.Bal
								</h4>

						
							<a  a href="#" data-toggle="modal" data-target="#referc">
								</h4>{{user.user_accounts.refer_balance}} T</a>
							</div>
						</div>
				</div>

			</div>


			<div class="row">
	
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon three">
								<img src="assets/images/affiliate/ic10.png" alt="">
							</div>
							<div class="content">
								<h4 >
								With.P
								</h4>
								<p class="text">
								{{user.user_accounts.withraw_power}} T
								</p>
							</div>
						</div>
					</div>
				<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="static/assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
			
							<h4>
								With.B
								</h4>
								<a  a href="#" data-toggle="modal" data-target="#withraw">
								</h4>{{user.user_accounts.withrawable_balance}} T</a>

							</div>
						</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="assets/images/affiliate/ic8.png" alt="">
							</div>
							<div class="content">
								<h4 >
								Trial
								</h4>
								<p class="text">
								{{user.user_accounts.trial_balance}} T
								</p>
							</div>
						</div>
			</div>

					
		{% comment %} </div> {% endcomment %}
							<div class="form-group">
							    {% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#deposit">
								       <button type="submit" class="mybtn1">Deposit</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Deposit</button>
									   </a>								 
						
									{% endif %} 


							</div>	

							<div class="form-group">
							    {% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#withraw">
								       <button type="submit" class="mybtn1">Withraw</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Withraw</button>
									   </a>								 
						
									{% endif %} 


							</div>							

							<div class="form-group">
							    {% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#tofriend">
								       <button type="submit" class="mybtn1">Tranfer (T)o Your Friend</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Tranfer (T)o Your Friend</button>
									   </a>								 
						
									{% endif %} 

							</div>

				<div class="row">

				</div>

		</div>



	</section>
	<!-- Marketing Tools Area End -->














					</div>
					{% comment %} <div class="form-footer">
						<p>Check Wallet? 
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#paypal">go 4 it!</a>
						</p>
					</div> {% endcomment %}
				</div>
			</div>
			</div>
		</div>
		<!-- Wallet Area End -->

	<!-- Deposit Area Start -->
	<div class="modal fade login-modal" id="deposit" tabindex="-1" role="dialog" aria-labelledby="deposit" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Deposit</h4>
						<p class="sub-title">Choose prefered deposit means.More deposit means are added regularly.</p>
					</div>
					<div class="form-area">
							<!-- <div class="form-group">
								{% if user.is_authenticated %}
								   <a href="/account/paypal/deposit">
								       <button type="submit" class="mybtn1">PaypalW</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">PaypalW</button>
									   </a>								 
						
									{% endif %} 

							</div> -->
							<div class="form-group">
								{% if user.is_authenticated %}
								   <a href="/account/paypal/checkout/">
								       <button type="submit" class="mybtn1">Paypal</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Paypal</button>
									   </a>								 
						
									{% endif %} 

							</div>	
							<!-- <div class="form-group">
								{% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#paypal">
								       <button type="submit" class="mybtn1">Paypal3</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Paypal3</button>
									   </a>								 
						
									{% endif %} 

							</div>							 -->
							<div class="form-group">
								{% if user.is_authenticated %}
		
								   <a href="#" data-toggle="modal" data-target="#mpesa">
								       <button type="submit" class="mybtn1">M-Pesa</button>
									</a>									
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">M-Pesa</button>
									   </a>								 
						
									{% endif %} 


							</div>		
							<div class="form-group">
								{% if user.is_authenticated %}
								   <a href="/account/paypal/deposit">
								       <button type="submit" class="mybtn1">Credit/Debit Card</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Credit/Debit Card</button>
									   </a>								 
						
									{% endif %} 

							</div>
							<!-- <div class="form-group">
								{% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#crypto">
								       <button type="submit" class="mybtn1">Cryptocurrency</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Cryptocurrency</button>
									   </a>								 
						
									{% endif %} 

							</div>										
			 -->

					</div>
					{% comment %} <div class="form-footer">
						<p>Check Wallet? 
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#paypal">go 4 it!</a>
								
						</p>
					</div> {% endcomment %}
				</div>
			</div>
			</div>
		</div>
		<!-- Deposit Area End -->

		
	<!-- Paypal Area Start -->
	<div class="modal fade login-modal" id="paypal" tabindex="-1" role="dialog" aria-labelledby="paypal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Paypal& Credit/Debit Card</h4>
						<p class="sub-title">Deposit</p>
					</div>
					<div class="form-area">
					    <div id="smart-button-container">
						    {% comment %} <div style="text-align: center"><label for="description"> </label><input type="text" name="descriptionInput" id="description" maxlength="127" value="deposit fund" disabled></div> {% endcomment %}
							    <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
								<div style="text-align: center">
									<label for="amount">Amount </label>
										<input name="amountInput" type="number" id="amount" value="" >
										<span> USD</span>
								</div>
								<p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
								<div id="invoiceidDiv" style="text-align: center; display: none;">
								    <label for="invoiceid"> </label>
									<input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" >
								</div>
								<p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
								<div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>

						</div>
						<script src="https://www.paypal.com/sdk/js?client-id={{client_id}}&currency=USD" data-sdk-integration-source="button-factory"></script>
					</div>							
					{% comment %} <div class="form-footer">
						<p>Not a member? 								
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#signin"> Join us</a>								
						</p>
					</div> {% endcomment %}
				</div>
			</div>
			</div>
		</div>
		<!-- Paypal Area End -->

	<!-- mpesa Area Start -->
	<div class="modal fade login-modal" id="mpesa" tabindex="-1" role="dialog" aria-labelledby="mpesa" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">M-Pesa Deposit</h4>
						<p class="sub-title">Enter Amount to checkout</p>
					</div>
					<div class="form-area">

<form action="{% url 'account:mpesa_deposit' %}" method="post">
{% csrf_token %}

  <div class="form-group">
    <input type="number" name="amount" class="form-control" placeholder="amount here" required id="id_amount"">      
  </div>


<button class="mybtn1 type="submit">Submit</button>
</form>
				
					</div>
					
					{% comment %} <div class="form-footer">
						<p>Not a member? 
						<button class="mybtn1 type="submit">Submit</button>
						</p>
					</div> {% endcomment %}
				</div>
			</div>
			</div>
		</div>
		<!-- M-Pesa Area End -->






	<!-- Withraw Area Start -->
	<div class="modal fade login-modal" id="withraw" tabindex="-1" role="dialog" aria-labelledby="withraw" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Withdraw</h4>
						<p class="sub-title">Choose your prefered withrawal means.More withrawal means are added regularly.</p>
					</div>
					<div class="form-area">
							<div class="form-group">

							    {% if user.is_authenticated %}
								   <a href="/account/paypal/withdraw/">
								       <button type="submit" class="mybtn1">To your Paypal</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">To your Paypal</button>
									   </a>								 
						
									{% endif %} 									
							</div>

							<!-- <div class="form-group">
							    {% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#wpaypal">
								       <button type="submit" class="mybtn1">Paypal Withrawal</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">Paypal Withraw</button>
									   </a>								 
						
									{% endif %} 


							</div>								 -->
							<div class="form-group">
							    {% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#wmpesa">
								       <button type="submit" class="mybtn1">To your M-Pesa</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">To your M-Pesa</button>
									   </a>								 
						
									{% endif %} 


							</div>		

							<div class="form-group">

							    {% if user.is_authenticated %}
								   <a href="/account/paypal/withdraw/" data-toggle="modal" data-target="#wpaypal">
								       <button type="submit" class="mybtn1">To your Credit/Debit Card</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="/account/paypal/withdraw/" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">To your Credit/Debit Card</button>
									   </a>								 
						
									{% endif %} 
									
							</div>												
							<!-- <div class="form-group">
								{% if user.is_authenticated %}
								   <a href="#" data-toggle="modal" data-target="#crypto">
								       <button type="submit" class="mybtn1">To your Crypto Wallet</button>
									</a>
									{% endif %}   
							
									 {% if not user.is_authenticated %}
									   <a href="#" data-toggle="modal" data-target="#login">
									        <button type="submit" class="mybtn1">To your Crypto Wallet</button>
									   </a>								 
						
									{% endif %} 

							</div>			 -->

					</div>
					{% comment %} <div class="form-footer">
						<p>Check Wallet? 
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#paypal">go 4 it!</a>
						</p>
					</div> {% endcomment %}
				</div>
			</div>
			</div>
		</div>
		<!-- Withraw Area End -->

	<!-- Wmpesa Area Start -->
	<div class="modal fade login-modal" id="wmpesa" tabindex="-1" role="dialog" aria-labelledby="wmpesa" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">M-Pesa Withdraw</h4>
						<p class="sub-title">
							You can withdraw a total of {{ uf.withrawable_balance }} USD</h4>
							
				        </p>
					</div>
					<div class="form-area">
<form action="{% url 'account:mpesa_withrawal' %}" method="post">
{% csrf_token %}

  <div class="form-group">
    <input type="number" name="amount" class="form-control" placeholder="amount here" required id="id_amount">      
  </div>


<button class="mybtn1 type="submit">Submit</button>
</form>
					</div>
					

				</div>
			</div>
			</div>
		</div>
		<!-- WM-Pesa Area End -->	

	<!-- Wpaypal Area Start -->
	<!-- <div class="modal fade login-modal" id="wpaypal" tabindex="-1" role="dialog" aria-labelledby="wpaypal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="modal-body">
				<div class="logo-area">
						<img class="logo" src="/static/assets/images/logoz.png" alt="">
				</div>
				<div class="header-area">
					<h4 class="title">Paypal Withdrawal</h4>
					<p class="sub-title">You can withdraw a total of {{ request.user__user_account.balance }} USD</p>
				</div>
				<div class="form-area">
<form action="{% url 'account:paypal_payout' %}" method="post">
{% csrf_token %}

<div class="form-group">
<input type="number" name="amount" class="form-control" max="{{uf.withrawable_balance}}" placeholder="amount here" required id="id_amount">      
</div>


<button class="mybtn1" type="submit">Submit</button>
</form>
				</div>
				

			</div>
		</div>
		</div>
	</div> -->
	<!-- Wpaypal Area End	
 -->

	<!-- ToFriend Area Start -->
	<div class="modal fade login-modal" id="tofriend" tabindex="-1" role="dialog" aria-labelledby="tofriend" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Transfer To Friend</h4>
						<p class="sub-title">Help your Friend Kickstart</p>
					</div>
					<div class="form-area">
<form action="{% url 'account:cash_trans' %}" method="post">
    {% csrf_token %}

    <div>
      {% if form.errors %}
      <span class="text-danger">{{ form.errors }}</span>
      {% endif %}
    </div>

    <div class="col-lg-6 col-8 d-flex align-self-center">
        <div class="form-area"> 
            <input type="text" name="recipient"  class="input-field" placeholder="Recipient Username/Mobile" id="id_recipient"required autofocus>       
        </div>
    </div>   
    
    <div class="col-lg-6 col-8 d-flex align-self-center">
        <div class="form-area"> 
            <input type="number" name="amount" class="input-field" placeholder="Amount Here" step="10" required id="id_amount" autofocus>                    
        </div>
    </div>  

    <div class="form-group">
        <button type="submit" class="mybtn1">Send</button>
		</div>

  </form>
					</div>

				</div>
			</div>
			</div>
		</div>
		<!-- Tofriend Area End -->	




	<!-- TransRefer Start -->
	<div class="modal fade login-modal" id="referc" tabindex="-1" role="dialog" aria-labelledby="referc" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Ref.Com Transfer</h4>
						<p class="sub-title">Transfer to main account</p>
						<h5 class="title">Bal: {{user.user_accounts.refer_balance}}T</h5>
					    Minimum Transfer Amount: {{user.user_accounts.min_refer_to_transfer}}T
			
					</div>
					<div class="form-area">
					
<form action="{% url 'account:refer_credit' %}" method="post">
{% csrf_token %}

<div class="col-md-4 pl-md-1">
  <div class="form-group">
    <input type="number" name="amount" class="input-field" placeholder="amount here" step="10" required id="id_amount"">    
	
  </div>
</div>

<button class="mybtn1" type="submit">Transfer To Main Account</button>

</form>
				
					</div>
					
					<div class="form-footer">
						<p> 
						<a href="{% url 'account:refer_credit' %}" class="mybtn1"  >Income Source Details</a>
						</p>
					</div> 
				</div>
			</div>
			</div>
		</div>
		<!-- Trans_Refer -->

	<!-- Wmpesa Area Start -->
	<div class="modal fade login-modal" id="crypto" tabindex="-1" role="dialog" aria-labelledby="crypto" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					{% comment %} <div class="header-area">
						<h4 class="title">M-Pesa Withdraw</h4>
						<p class="sub-title">Enter Amount to withraw</p>
					</div> {% endcomment %}
					<div class="form-area">
							<div class="form-group">
								   <button type="submit" class="mybtn1">Coming Soon</button>
							</div>
				
					</div>
					
					{% comment %} <div class="form-footer">
						<p>Withdraw now? 
						<a href="#" class="mybtn1"  data-toggle="modal" data-target="#signin"> Withdraw</a>
						
						</p>
					</div> {% endcomment %}
				</div>
			</div>
			</div>
		</div>
		<!--Cryptocurrency Area End -->	
	<!-- ToFriend Area Start -->
	<div class="modal fade login-modal" id="share" tabindex="-1" role="dialog" aria-labelledby="share" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Share With Your Friends</h4>
						<p class="sub-title">You get 5 to 20 % of their wins $ loses.You win always!</p>
						<!-- Your Referal link:  {{request.user.referal_link}} -->
					</div>
					<div class="form-area">

						<textarea class="input-field"  id="shared" name="shared" >Join the play and win every minute by just spinning a wheel.It just needs your time.Use paypal or m-pesa for withrawals.Use this link: {{request.user.referal_link}}</textarea>

						
					</div>
					

										<div class="form-footer">
						<!-- <p>		<a href="#" class="mybtn1" ><i class="fas fa-envelope"></i>Copy link</a> -->
							<button class="mybtn1" onclick="myFunction()">Copy,Share & Earn</button>
								<a href="/user/my_users/" class="mybtn1" ><i class="fas fa-angle-double-right"></i>My Referals</a> 
								<a href="/account/refer_credit/" class="mybtn2" ><i class="fas fa-envelope"></i>My Earnings</a>

								{% comment %} <a href="{% url 'users:register' %}"  data-toggle="modal" data-target="#signin"> Join us</a> {% endcomment %}
						</p>
					</div>

				</div>
			</div>
			</div>
		</div>
		<!-- Share Area End -->	


	<!-- Login Area Start -->
	<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/logoz.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Great to have you back!</h4>
						<p class="sub-title">Enter your details below.</p>
					</div>
					<div class="form-area">
						<form role="form" method="POST" action="{% url 'users:login' %}">
						    {% csrf_token %}
							<div class="form-group">
									<label for="login-input-email">Mobile No*</label>
									<input type="text"  class="input-field" name="username" id="username" placeholder="Phone number you sign up with" required autofocus>
									
							</div>
							<div class="form-group">
									<label for="login-input-password">Password*</label>
									<input type="password" class="input-field" name="password" class="form-control" id="password" placeholder="Password" required>
									<input type="checkbox" onclick="sPass()">Show Password

							</div>
							<div class="form-group">
								<div class="box">
									{% comment %} <div class="left">
											<input type="checkbox" class="check-box-field" id="input-save-password" checked>
										<label for="input-save-password">Remember Password</lasbel>
										
									</div> {% endcomment %}
									<div class="right">
										<a href="{% url 'users:password_reset' %}">
											Forgot Password?
										</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <button type="submit" class="mybtn1">Log In</button>
							</div>
						</form>
					</div>
					<div class="form-footer">
						<p>Not a member? 
								{% comment %} <a href="#">Create account <i class="fas fa-angle-double-right"></i></a> {% endcomment %}
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#signin"> Join us</a>
								{% comment %} <a href="{% url 'users:register' %}"  data-toggle="modal" data-target="#signin"> Join us</a> {% endcomment %}
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- Login Area End -->
	

		<!-- SignUp Area Start -->
		<div class="modal fade login-modal sign-in" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered " role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-body">
						<div class="logo-area">
								<img class="logo" src="/static/assets/images/logoz.png" alt="">
						</div>
						<div class="header-area">
							<h4 class="title">Welcome new member!</h4>
							<p class="sub-title">Enter your details below.</p>
						</div>
						<div class="form-area">
							<form role="form" method="POST" action="{% url 'users:register' %}">
							    {% csrf_token %}
								<div class="form-group">
										{% comment %} <label for="input-name">Mobile No*</label> {% endcomment %}
										<input type="text" class="input-field" name="username" id="username"  placeholder="Your Mobile Number" required>
								</div>
								<div class="form-group">
										{% comment %} <label for="input-email">Email*</label> {% endcomment %}
										<input type="email" class="input-field" name="email" id="email"  placeholder="Your Email" required>
								</div>
								<!-- <div class="form-group">
										{% comment %} <label for="input-email">Referer Code*</label> {% endcomment %}
										<input type="text" class="input-field" name="referer_code" id="referer_code"  placeholder="Referer Code" required>
								</div>								 -->
								<div class="form-group">
										{% comment %} <label for="input-password">Password*</label> {% endcomment %}
										<input type="password" class="input-field" name="password1" id="password1"   placeholder="Password" required>
								</div>
								<div class="form-group">
										{% comment %} <label for="input-con-password">Confirm Password*</label> {% endcomment %}
										<input type="password" class="input-field" name="password2" id="password2"   placeholder="Confirm Password" required>
								</div>

																<div class="box" align="left">
                                <input type="checkbox" onclick="sPass2()">Show Passwords

								</div>

								<div class="form-group">
									<div class="check-group">
											<input type="checkbox" class="check-box-field" id="input-terms" required>
											<label for="input-terms">
													I agree with <a href="#">terms and Conditions</a> and  <a href="#">privacy policy</a>
											</label>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="mybtn1">Signup</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
		<!-- SignIn Area End -->					
  {% include 'includes/scripts.html' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

 
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  function initPayPalButton() {
    var description = document.querySelector('#smart-button-container #description');
    var amount = document.querySelector('#smart-button-container #amount');
    var descriptionError = document.querySelector('#smart-button-container #descriptionError');
    var priceError = document.querySelector('#smart-button-container #priceLabelError');
    var invoiceid = document.querySelector('#smart-button-container #invoiceid');
    var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
    var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

    var elArr = [description, amount];

    if (invoiceidDiv.firstChild.innerHTML.length > 1) {
      invoiceidDiv.style.display = "block";
    }

    var purchase_units = [];
    purchase_units[0] = {};
    purchase_units[0].amount = {};

    function validate(event) {
      return event.value.length > 0;
    }

    paypal.Buttons({
      style: {
        color: 'gold',
        shape: 'rect',
        label: 'paypal',
        layout: 'vertical',
      },

      onInit: function (data, actions) {
        actions.disable();

        if(invoiceidDiv.style.display === "block") {
          elArr.push(invoiceid);
        }

        elArr.forEach(function (item) {
          item.addEventListener('keyup', function (event) {
            var result = elArr.every(validate);
            if (result) {
              actions.enable();
            } else {
              actions.disable();
            }
          });
        });
      },

      onClick: function () {

        if (amount.value.length < 1) {
          priceError.style.visibility = "visible";
        } else {
          priceError.style.visibility = "hidden";
        }

        if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
          invoiceidError.style.visibility = "visible";
        } else {
          invoiceidError.style.visibility = "hidden";
        }

        purchase_units[0].description = "deposit fund";
        purchase_units[0].amount.value = amount.value;

        if(invoiceid.value !== '') {
          purchase_units[0].invoice_id = invoiceid.value;
        }
      },

      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: purchase_units,
        });
      },

      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          console.log(details)
          fetch("/account/payment_success", {
              method: "POST",
              credentials: 'include',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json'
                },
              body: JSON.stringify({
                  "email": details.payer.email_address,
                  "amount": details.purchase_units[0].amount.value
              })
          })
          alert('Transaction completed by ' + details.payer.name.given_name + '!');
        });
      },

      onError: function (err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }
  initPayPalButton();
  </script>



  {% block javascripts %} 
  <script>
  function myFunction() {
	/* Get the text field */
	var copyText = document.getElementById("shared");
  
	/* Select the text field */
	copyText.select();
	copyText.setSelectionRange(0, 99999); /* For mobile devices */
  
	 /* Copy the text inside the text field */
	navigator.clipboard.writeText(copyText.value);
  
	/* Alert the copied text */
	alert("You have copied.Paste to someone's social media now. Share to get Ref Commision everytime they play!");
  }

  </script>

 
  {% endblock javascripts %}
</body>


</html>
