<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="forntEnd-Developer" content="Mamunur Rashid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Darispin - Gaming</title>


	<link href="{% static 'assets/images/favicon.html' %}" rel="shortcut icon"  type="image/x-icon"/>
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/plugin.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

{% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
	<!-- preloader area end -->


	<!-- Header Area Start  -->
<header class="header">
{% include 'includes/header.html' %}

{% block mainmenu %}{% endblock mainmenu %}
</header>
<!-- Header Area End  -->

{% block content %}{% endblock content %}
{% include 'includes/footer.html' %}

{% include 'includes/scripts.html' %}

	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->

	<!-- Login Area Start -->
	<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="/static/assets/images/loggo.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Great to have you back!</h4>
						<p class="sub-title">Enter your details below.</p>
					</div>
					<div class="form-area">
						<form role="form" method="POST" action="{% url 'users:login' %}">
						    {% csrf_token %}
							<div class="form-group">
									<label for="login-input-email">Username*</label>
									<input type="text"  class="input-field" name="username" id="username" placeholder="Phone number you sign up with" required autofocus>
									
							</div>
							<div class="form-group">
									<label for="login-input-password">Password*</label>
									<input type="password" class="input-field" name="password" class="form-control" id="password" placeholder="Password" required>
									<input type="checkbox" onclick="sPass()">Show Password

							</div>
							<div class="form-group">
								<div class="box">
									{% comment %} <div class="left">
											<input type="checkbox" class="check-box-field" id="input-save-password" checked>
										<label for="input-save-password">Remember Password</lasbel>
										
									</div> {% endcomment %}
									<div class="right">
										<a href="{% url 'users:password_reset' %}">
											Forgot Password?
										</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <button type="submit" class="mybtn1">Log In</button>
							</div>
						</form>
					</div>
					<div class="form-footer">
						<p>Not a member? 
								{% comment %} <a href="#">Create account <i class="fas fa-angle-double-right"></i></a> {% endcomment %}
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#signin"> Join us</a>
								{% comment %} <a href="{% url 'users:register' %}"  data-toggle="modal" data-target="#signin"> Join us</a> {% endcomment %}
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- Login Area End -->
	
		<!-- SignUp Area Start -->
		<div class="modal fade login-modal sign-in" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered " role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-body">
						<div class="logo-area">
								<img class="logo" src="/static/assets/images/loggo.png" alt="">
						</div>
						<div class="header-area">
							<h4 class="title">Welcome new member!</h4>
							<p class="sub-title">Enter your details below.</p>
						</div>
						<div class="form-area">
							<form role="form" method="POST" action="{% url 'users:register' %}">
							    {% csrf_token %}
								<div class="form-group">
										{% comment %} <label for="input-name">Mobile No*</label> {% endcomment %}
										<input type="text" class="input-field" name="username" id="username"  placeholder="Your Mobile number" required>
								</div>
								<div class="form-group">
										{% comment %} <label for="input-email">Email*</label> {% endcomment %}
										<input type="email" class="input-field" name="email" id="email"  placeholder="Your Email" required>
								</div>
								<div class="form-group">
										{% comment %} <label for="input-email">Referer Code*</label> {% endcomment %}
										<input type="text" class="input-field" name="referer_code" id="referer_code"  placeholder="Referer Code" required>
								</div>								
								<div class="form-group">
										{% comment %} <label for="input-password">Password*</label> {% endcomment %}
										<input type="password" class="input-field" name="password1" id="password1"   placeholder="Password" required>
								</div>
								<div class="form-group">
										{% comment %} <label for="input-con-password">Confirm Password*</label> {% endcomment %}
										<input type="password" class="input-field" name="password2" id="password2"   placeholder="Confirm Password" required>
								</div>

								<div class="form-group">
									<div class="check-group">
											<input type="checkbox" class="check-box-field" id="input-terms" required>
											<label for="input-terms">
													I agree with <a href="#">terms and Conditions</a> and  <a href="#">privacy policy</a>
											</label>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="mybtn1">Signup</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
		<!-- SignIn Area End -->

  {% include 'includes/scripts.html' %}

  {% block javascripts %}  {% endblock javascripts %}
</body>


</html>
