{% extends "layouts/base.html" %}
<!-- Static assets -->
{% load static %}
{% block title %}iSpin{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/wheel/css/main.css" type="text/css" />

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">


  <!-- Nucleo Icons -->
  {% comment %} <link href="{% static 'assets/css/nucleoo-icons.css' %}" rel="stylesheet" /> {% endcomment %}
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
{% endblock stylesheets %}
{% block mainmenu %}
<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="{% url 'daru_wheel:spinx' %}">
								<img src="/static/assets/images/logoz.png" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
                 <ul class="navbar-nav ml-auto">
                 								    <!-- <li class="nav-item">
										<a class="nav-link " href="/">Home
										<div class="mr-hover-effect"></div></a>
									</li> -->

									<li class="nav-item">
								
										<a class="nav-link" href="{% url 'daru_wheel:spin' %}">Spin
												<div class="mr-hover-effect"></div></a>
									
																					
									</li>	
									<li class="nav-item">
									<a class="nav-link active" href="{% url 'daru_wheel:spinx' %}">Spinx
									<div class="mr-hover-effect"></div>
									</a>   
																					
									</li>									
									 <li class="nav-item dropdown">
									 {% comment %} {% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Account
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}  {% endcomment %}
									{% comment %} {% if  user.is_authenticated %} {% endcomment %}
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Account
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
										    {% comment %} <li>
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#deposit">
													<i class="fa fa-angle-double-right"></i> Deposit
												</a>																																		
											</li> {% endcomment %}
															
									

											<li>											
											
											{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#wallet">
													<i class="fa fa-angle-double-right"></i> Wallet : {{user.user_accounts.balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
											   <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">
											   <i class="fa fa-angle-double-right"></i> Wallet
											   </a>	
											{% endif %} 											
											
											
											</li>


											<li>

											{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#withraw">
													<i class="fa fa-angle-double-right"></i> Withdrawable: {{user.user_accounts.withrawable_balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#withraw">
													<i class="fa fa-angle-double-right"></i> Withdraw
												</a>
											{% endif %} 																																		
											</li>											
											<li>
												{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#deposit">
													<i class="fa fa-angle-double-right"></i> Trial: {{user.user_accounts.trial_balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
												<a href="#" class="dropdown-item"  data-toggle="modal" data-target="#login">
													<i class="fa fa-angle-double-right"></i> Trial:50,000T
												</a>
											{% endif %} 

											</li>
											<li>
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#deposit">
													<i class="fa fa-angle-double-right"></i> Deposit
												</a>
																																		
											</li>																											
								
										</ul>	
			
									</li>



									 <li class="nav-item dropdown">
									 {% comment %} {% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Account
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}  {% endcomment %}
									{% comment %} {% if  user.is_authenticated %} {% endcomment %}
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											My Company
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >


											<li>											
											
											{% if user.is_authenticated %}
												<a href="{% url 'users:mine_users' %}" class="dropdown-item" >
													<i class="fa fa-angle-double-right"></i> Users No : {{user.referees_no}}
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
											   <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">
											   <i class="fa fa-angle-double-right"></i> Users
											   </a>	
											{% endif %} 											
											
											
											</li>

											<li>
											{% if user.is_authenticated %}
												<a href="#" class="dropdown-item" data-toggle="modal" data-target="#referc">
													<i class="fa fa-angle-double-right"></i> Ref.Com : {{user.user_accounts.refer_balance}}T
												</a>
											{% endif %}
											{% if not user.is_authenticated %}
											   <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">
											   <i class="fa fa-angle-double-right"></i> Ref.Com
											   </a>	
											{% endif %} 
																			
											</li>										
		
																						
								
										</ul>	
			
									</li>
					

								</ul>

							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
		
{% endblock mainmenu %}


{% block content %}
<section class="recent-winners">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
								iSpin
							</h5>



              
						</div>
					</div>
				</div>



	 
					<div align="center">
						<table cellpadding="0" cellspacing="0" border="0">
						  <tr>
							
							<p class="text">
								Play with demo cash to learn before using real cash;Demo is like when using real account.
							</p> 
	
							Spins:{{spins}}
							<td width="438" height="562" class="the_wheel" align="center" valign="center">
							  <canvas id="canvas" width="434" height="434">
								<p align="center">Sorry, your browser doesn't support canvas.Please try another.</p>
							  </canvas>              
							</td>
						  </tr>
						</table>
						{% if user.is_authenticated %}
						<button class="btn btn-fill btn-warning" id="spin_button" >SPIN</button>
					{% endif %}
				  
					{% if not user.is_authenticated %}
					   <a class="btn btn-fill btn-warning" href="#"  data-toggle="modal" data-target="#login">Spin
						   <div class="mr-hover-effect"></div>
						   <div id="spin_button"></div>
					   </a>
					{% endif %} 
					  </div> 
				
					  
  

			






				<div class="row">





          					<div class="col-lg-4">
						<div class="single-winer">
							<div class="top-area">
								<div class="left">
									<h4 class="name">
										Select Winner Color!
								</h4>
									<form method="POST" id="stake-form">

										{% csrf_token %}

										<p class="date">{{stake_form.errors}} </p>
	
											<div class="btn-group btn-group-toggle float-left" data-toggle="buttons" required=True name="marketselection" id="id_marketselection" >
											  <label class="btn btn-sm btn-success btn-simple">
												  <input type="radio" class="d-none d-sm-none" name="marketselection" value="2" required=True >
												  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Yellow (x2)</span>
												  <span class="d-block d-sm-none">
													  <i class="tim-icons icon-gift-2"> Yellow (x2)</i>
												  </span>
											  </label>   
											  
											  <label class="btn btn-sm btn-info btn-simple" >
												  <input type="radio" class="d-none" name="marketselection" value="1"  >
												  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Red (x2)</span>
												  <span class="d-block d-sm-none">
													  <i class="tim-icons icon-trophy"> Red (x2)</i>
												  </span>
											  </label>
	  
										  </div >
	  
										  <div class="col-lg-6 col-8 d-flex align-self-center">.</div>

										  <input class="btn btn-sm btn-warning btn-simple" type="number" min ="5"  max="1000000" name="amount" class="input-field" placeholder="Amount to bet" required=true id="amount_id" autofocus>


							</div>

							
							<div class="right">
								<p class="id"> $</p>
							</div>
						</div>	


							<div class="bottom-area">
								<div class="left">
									<label class="btn btn-sm btn-simple btn-simple">
										<!-- <input type="radio" class="d-none d-sm-none" name="bet_on_real_account" id="id_bet_on_real_account">   -->
										<input class="btn-group btn-group-toggle" type="checkbox" name="bet_on_real_account" id="id_bet_on_real_account"> 
										 <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Real Money</span>
										<span class="d-block d-sm-none">
										  <i class="tim-icons icon-gift-2"> Real Money</i>
										</span>
									  </label>									  									
								</div>			
								<div class="right">

									{% if user.is_authenticated %}
									<button class="mybtn1" type="submit">Bet</button>
								{% endif %}
								{% if not user.is_authenticated %}
								   <a href="#" class="mybtn1" data-toggle="modal" data-target="#login">
									Bet
								   </a>	
								{% endif %} 


								</div>



							</form>
							</div>
						</div>
					</div>
          



					<div class="col-lg-4">
						<div class="single-winer">
							<div class="top-area">
								<div class="left">
									<h4 class="name">
											Stake History
									</h4>

									<p class="date"></p> 
								</div>
								 <div class="right">
									<p class="id">*</p>
								</div> 

							</div>
							<div class="bottom-area">
								<div >
									<table  id="">
										<thead class="text-primary">
										  <tr>
											<th>
											  Tame
											</th>
											<th>
											  Choice
											</th>
											<th>
											  --W-L Amount
											</th>
											<th class="text-center">
											  Status
											</th>
											<th>
											 --Account
											</th>
										  </tr>
										</thead>
										<tbody id="talk">
										  {%for trans in trans_logz%}
							  
										  <tr>
											<td>
											  {{trans.created_at}}
											</td>
											<td>
											  {{trans.marketselection}}
											</td>
											<td>
											  {{trans.expected_win_amount}}
											</td>
											<td class="text-center">
											  {{trans.bet_status}}
											</td>
											<td>
											  {{trans.bet_type}}
											</td>
										  </tr>
										  {%endfor%}
										</tbody>
									  </table>
								</div>

							</div>
							
							<a class="mybtn2" href="{% url 'daru_wheel:spinx' %}">Refresh</a>
						</div>

						

					</div>

				<!-- </div> -->
				
				
				
				<!-- <div class="row"> -->
					<div class="col-lg-12 text-xl-center">
						{% if user.is_authenticated %}
						<a class="mybtn2" href="{% url 'daru_wheel:stakes' %}">View All Bets </a>
						{% endif %}
						{% if not user.is_authenticated %}
						<a href="#" class="mybtn2" data-toggle="modal" data-target="#login">View All Bets </a>
						{% endif %}
					</div>
				</div>				

			<!-- </div> -->

	</section>  
         
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="/static/wheel/js/Winwheel.js"></script>
{% comment %} <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>  {% endcomment %}
<script type="text/javascript" src="/static/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/wheel/js/darius.js"></script>

{% endblock javascripts %}
