{% extends 'layouts/base.html' %}

{% block title %} Deposit {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area bc-affiliate">
		<img class="bc-img" src="static/assets/images/breadcrumb/affiliate.png" alt="">
		<div class="container">
			{% comment %} <div class="row"> {% endcomment %}
				{% comment %} <div class="col-lg-12">
					<h4 class="title">
						Deposit
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="index.html">
									<i class="fas fa-home"></i>
									Account
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="affiliate.html">Deposit</a>
						</li>
					</ul>
				</div> {% endcomment %}
			{% comment %} </div> {% endcomment %}
		</div>
	</section>
	<!-- Breadcrumb Area End -->



	<!-- Recent Winners Area Start -->
	<section class="recent-winners">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
								Choose your Prefered Deposits means
							</h5>
							{% comment %} <h2 class="title">
									Recent Winners
							</h2> {% endcomment %}
							<p class="text">
								We update our site regularly; more and more deposit means are added regulally.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
				    <div class="col-lg-4">
					    <div class="single-winer">
						    <a href="/account/deposit/paypal">
								<div class="top-area">											
								    <div class="left">
										<h4 class="name"> PAYPAL </h4>
									</div>
								</div>
							</a>
                                 
						</div>
					</div>				
					
				    <div class="col-lg-4">
					    <div class="single-winer">
						    <a href="/account/deposit/m-pesa">
								<div class="top-area">											
								    <div class="left">
										<h4 class="name"> M-PESA </h4>
									</div>
								</div>
							</a>
                                 
						</div>
					</div>
				    <div class="col-lg-4">
					    <div class="single-winer">
						    <a href="/account/deposit/paypal">
								<div class="top-area">											
								    <div class="left">
										<h4 class="name"> CREDIT & DEBIT CARD </h4>
									</div>
								</div>
							</a>
                                 
						</div>
					</div>


		</div>
	</section> 
	<!-- Recent Winners Area End -->










{% comment %} <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Daru Wheel Wallet</h5>
        
      </div>
      <div class="card-body all-icons">
        <div class="row">

          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:mpesa_deposit' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-add"></i>              
                <p>M-PESA</p>
              </div>

            </a>

          </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:checkout' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-add"></i>              
                <p>PAYPAL</p>
              </div>

            </a>

          </div>
          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:mpesa_withrawal' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-delete"></i>              
                <p>WITHRAW</p>
              </div>

            </a>

          </div>     

          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:cash_trans' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-link-72"></i>
                <p>SEND TO OTHER USER</p>
              </div>
            </div>

            </a>


        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
