{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Refer Credit{% endblock %} 



{% block content %}
	<!-- Breadcrumb Area Start -->
	{% comment %} <section class="breadcrumb-area bc-affiliate">
		<div class="container">

		</div>
	</section> {% endcomment %}
	<!-- Breadcrumb Area End -->




	<!-- Awards Area Start -->
	<section class="awards-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">

   
						<h2 class="title">
							{{user.user_accounts.refer_balance}} T
              </h2>
						<h5 class="subtitle">
							Recent Refer Credit 
						</h5>	
					</div>
				</div>
			</div>
			<div class="row">

              <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Credit From
                </th>
                <th>
                  Amount
                </th>
                <th class="text-center">
                  Current balance
                </th>

              </tr>
            </thead>
            <tbody class=" text-info">
              {% for trans in refer_credit%}

              <tr>
                <td>
                  {{trans.created_at}}
                </td>
                <td>
                  {{trans.credit_from}}
                </td>
                <td>
                  {{trans.amount}}
                </td>
                <td class="text-center">
                  {{trans.current_bal}}
                </td>

              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>


		</div>
	</section>



{% endblock content %}
