{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Password Change Email Send {% endblock %} 



{% block content %}

	<section class="awards-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">

   
						<h2 class="title">____________________
              </h2>
						<h5 class="subtitle">
							Email Send 
						</h5>	
					</div>
				</div>
			</div>
			<div class="row">

        <div class='btn btn-primary btn-block'>
          Check your email! We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
          You should receive them shortly.
        </div>
        <div class='btn btn-primary btn-block'>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder!
        </div>
        <div class="float-right">
          <a class="btn btn-link" href="{% url 'users:password_reset' %}">Enter email again</a>
      </div>

     

		</div>
	</section>



{% endblock content %}




